Node-Red/JSON
[{"id":"bc46944a.93e8f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1af13644.ad11ba","type":"ibmiot in","z":"bc46944a.93e8f8","authentication":"apiKey","apiKey":"30be49e.1a36bb6","inputType":"evt","deviceId":"Device_1","applicationId":"","deviceType":"Agriculture_1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":640,"wires":[["1ecac4c2.3b627b","65e717ca.232a48","39e23761.954558","3d968964.7f9b46"]]},{"id":"1ecac4c2.3b627b","type":"debug","z":"bc46944a.93e8f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":640,"wires":[]},{"id":"65e717ca.232a48","type":"function","z":"bc46944a.93e8f8","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["1ecac4c2.3b627b","1fc51ea6.83ecd1"]]},{"id":"39e23761.954558","type":"function","z":"bc46944a.93e8f8","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":800,"wires":[["1ecac4c2.3b627b","ecd357a4.e22c08"]]},{"id":"3d968964.7f9b46","type":"function","z":"bc46944a.93e8f8","name":"objectTemp","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":860,"wires":[["1ecac4c2.3b627b","1a7cce78.42edd2"]]},{"id":"1fc51ea6.83ecd1","type":"ui_gauge","z":"bc46944a.93e8f8","name":"Temperature","group":"67c54334.b7ecbc","order":1,"width":3,"height":3,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":560,"wires":[]},{"id":"ecd357a4.e22c08","type":"ui_gauge","z":"bc46944a.93e8f8","name":"Humidity","group":"67c54334.b7ecbc","order":2,"width":3,"height":3,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":820,"wires":[]},{"id":"9be60883.0fb068","type":"http request","z":"bc46944a.93e8f8","name":"weather","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Samastipur,IN&appid=b8a325a0016e076761f7088f63eb1c5c","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":320,"wires":[["a786feb8.c467","9e738b88.1e49f8","168f2acd.6b7855"]]},{"id":"a786feb8.c467","type":"debug","z":"bc46944a.93e8f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":320,"wires":[]},{"id":"359ee86b.ef2588","type":"inject","z":"bc46944a.93e8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["9be60883.0fb068"]]},{"id":"9e738b88.1e49f8","type":"function","z":"bc46944a.93e8f8","name":"Humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["5c20cdd1.f331a4"]]},{"id":"5c20cdd1.f331a4","type":"ui_gauge","z":"bc46944a.93e8f8","name":"","group":"884713ff.f23bb","order":2,"width":3,"height":3,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":180,"wires":[]},{"id":"1a7cce78.42edd2","type":"ui_gauge","z":"bc46944a.93e8f8","name":"","group":"67c54334.b7ecbc","order":3,"width":3,"height":3,"gtype":"gage","title":"Object Temperature","label":" °C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":900,"wires":[]},{"id":"badc4ae5.0f1cb8","type":"ui_gauge","z":"bc46944a.93e8f8","name":"","group":"884713ff.f23bb","order":2,"width":"3","height":"3","gtype":"gage","title":"Wind Speed","label":"meter/sec","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":440,"wires":[]},{"id":"168f2acd.6b7855","type":"function","z":"bc46944a.93e8f8","name":"Wind Speed","func":"msg.payload=msg.payload.wind.speed\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":420,"wires":[["badc4ae5.0f1cb8"]]},{"id":"30be49e.1a36bb6","type":"ibmiot","z":"","name":"Device_1","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"67c54334.b7ecbc","type":"ui_group","z":"","name":"Weather from Simulator","tab":"c1e1d725.208ad8","order":1,"disp":true,"width":"6","collapse":true},{"id":"884713ff.f23bb","type":"ui_group","z":"","name":"Weather from OpenWeather","tab":"c1e1d725.208ad8","order":1,"disp":true,"width":"6","collapse":true,"info":"Weather Data of Samastipur, IN"},{"id":"c1e1d725.208ad8","type":"ui_tab","z":"","name":"Smart Agriculture System","icon":"dashboard","disabled":false,"hidden":false}]
