Node-Red/Simulator data.json
[{"id":"3a0e516d.302f4e","type":"tab","label":"Simulator","disabled":false,"info":""},{"id":"e8653630.f69d58","type":"debug","z":"3a0e516d.302f4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":220,"wires":[]},{"id":"1a2eba48.9b2fe6","type":"function","z":"3a0e516d.302f4e","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["e8653630.f69d58","578ee471.ab114c","1aeccfcb.5f6a3"]]},{"id":"7034d905.8e23c8","type":"function","z":"3a0e516d.302f4e","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":380,"wires":[["e8653630.f69d58","bb9d6fe6.964cf","d7f0e5ad.2f9958"]]},{"id":"1f3b5aeb.22de15","type":"function","z":"3a0e516d.302f4e","name":"Soil Moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":440,"wires":[["e8653630.f69d58","55c05974.518928","a42d9beb.662d48"]]},{"id":"578ee471.ab114c","type":"ui_gauge","z":"3a0e516d.302f4e","name":"Temperature","group":"c625a41c.f98cb8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":80,"wires":[]},{"id":"bb9d6fe6.964cf","type":"ui_gauge","z":"3a0e516d.302f4e","name":"Humidity","group":"778a6d17.cc4214","order":1,"width":7,"height":5,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":400,"wires":[]},{"id":"55c05974.518928","type":"ui_gauge","z":"3a0e516d.302f4e","name":"","group":"23fd368.1e456ca","order":1,"width":0,"height":0,"gtype":"wave","title":"Soil Moisture","label":"bar","format":"{{value}}","min":0,"max":"100","colors":["#15f5f9","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":480,"wires":[]},{"id":"d1913fe4.988aa","type":"ibmiot in","z":"3a0e516d.302f4e","authentication":"apiKey","apiKey":"76b0b8.f7debf48","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Device_1","applicationId":"","deviceType":"Agriculture_1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":220,"wires":[["e8653630.f69d58","1a2eba48.9b2fe6","7034d905.8e23c8","1f3b5aeb.22de15"]]},{"id":"1aeccfcb.5f6a3","type":"ui_chart","z":"3a0e516d.302f4e","name":"","group":"c625a41c.f98cb8","order":3,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#23cd23","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":100,"wires":[[]]},{"id":"d7f0e5ad.2f9958","type":"ui_chart","z":"3a0e516d.302f4e","name":"","group":"778a6d17.cc4214","order":2,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#fbff0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":360,"wires":[[]]},{"id":"a42d9beb.662d48","type":"ui_chart","z":"3a0e516d.302f4e","name":"","group":"23fd368.1e456ca","order":2,"width":0,"height":0,"label":"Soil Moisture Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#12e1fd"],"useOldStyle":false,"outputs":1,"x":710,"y":420,"wires":[[]]},{"id":"c625a41c.f98cb8","type":"ui_group","z":"","name":"Temperature","tab":"219bf0a9.3b4c1","order":2,"disp":true,"width":"7","collapse":false},{"id":"778a6d17.cc4214","type":"ui_group","z":"","name":"Humidity","tab":"219bf0a9.3b4c1","order":2,"disp":true,"width":7,"collapse":false},{"id":"23fd368.1e456ca","type":"ui_group","z":"","name":"Soil Moisture","tab":"219bf0a9.3b4c1","order":3,"disp":true,"width":7,"collapse":false},{"id":"76b0b8.f7debf48","type":"ibmiot","z":"","name":"Device_1","keepalive":"60","serverName":"0lsrz8.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"219bf0a9.3b4c1","type":"ui_tab","z":"","name":"Simulator Data","icon":"fa-tachometer","order":3,"disabled":false,"hidden":false}]
