Node-Red/UI_Control.json
[{"id":"5c19dca7.a66564","type":"tab","label":"UI Control","disabled":false,"info":""},{"id":"323da575.5713ea","type":"ui_ui_control","z":"5c19dca7.a66564","name":"","events":"all","x":460,"y":60,"wires":[[]]},{"id":"c7b5331.90a30d","type":"ui_button","z":"5c19dca7.a66564","name":"","group":"ec938e62.06ad6","order":1,"width":6,"height":4,"passthru":false,"label":" <font size=16>ENTER","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":60,"wires":[["323da575.5713ea"]]},{"id":"e72bccdf.6c239","type":"ui_button","z":"5c19dca7.a66564","name":"Home","group":"4bbf80eb.924e1","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"1","payloadType":"num","topic":"","x":690,"y":60,"wires":[["4a8144eb.ed9dbc"]]},{"id":"4a8144eb.ed9dbc","type":"ui_ui_control","z":"5c19dca7.a66564","name":"","events":"all","x":830,"y":60,"wires":[[]]},{"id":"22b6560a.b26b7a","type":"ui_button","z":"5c19dca7.a66564","name":"","group":"c3574b24.4f55e8","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"1","payloadType":"num","topic":"","x":700,"y":140,"wires":[["4659d044.0279a"]]},{"id":"4659d044.0279a","type":"ui_ui_control","z":"5c19dca7.a66564","name":"","events":"all","x":840,"y":140,"wires":[[]]},{"id":"44c97c41.08c754","type":"ui_button","z":"5c19dca7.a66564","name":"","group":"568b2cee.a6c3e4","order":0,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"1","payloadType":"num","topic":"","x":700,"y":220,"wires":[["cd06f59f.5faa88"]]},{"id":"cd06f59f.5faa88","type":"ui_ui_control","z":"5c19dca7.a66564","name":"","events":"all","x":840,"y":220,"wires":[[]]},{"id":"d7910f82.9c328","type":"ui_ui_control","z":"5c19dca7.a66564","name":"","events":"all","x":620,"y":340,"wires":[[]]},{"id":"28988a75.bac236","type":"ui_button","z":"5c19dca7.a66564","name":"","group":"f321f25e.5cf31","order":1,"width":6,"height":4,"passthru":false,"label":" <font size=5>Simulator  Data","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"2","payloadType":"num","topic":"","x":310,"y":260,"wires":[["d7910f82.9c328"]]},{"id":"3864398f.a323a6","type":"ui_button","z":"5c19dca7.a66564","name":"","group":"a34f2e36.3aff3","order":1,"width":6,"height":4,"passthru":false,"label":" <font size=5>Open Weather Data","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"3","payloadType":"num","topic":"","x":320,"y":340,"wires":[["d7910f82.9c328"]]},{"id":"4842b0b2.33d3c","type":"ui_button","z":"5c19dca7.a66564","name":"","group":"d741e10e.86e91","order":1,"width":6,"height":4,"passthru":false,"label":" <font size=5>Motor & Light Control","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"4","payloadType":"num","topic":"","x":320,"y":420,"wires":[["d7910f82.9c328"]]},{"id":"5f7ae05f.5927e","type":"ui_button","z":"5c19dca7.a66564","name":"","group":"a9121318.eebfd","order":1,"width":0,"height":0,"passthru":false,"label":"Simulator","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"5","payloadType":"str","topic":"","x":370,"y":500,"wires":[["d7910f82.9c328"]]},{"id":"89ea2b48.9aac98","type":"ui_button","z":"5c19dca7.a66564","name":"Home","group":"a9121318.eebfd","order":1,"width":0,"height":0,"passthru":false,"label":"Main Menu","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"0","payloadType":"num","topic":"","x":710,"y":460,"wires":[["8e9dbf94.6f1bd"]]},{"id":"8e9dbf94.6f1bd","type":"ui_ui_control","z":"5c19dca7.a66564","name":"","events":"all","x":850,"y":460,"wires":[[]]},{"id":"ec938e62.06ad6","type":"ui_group","z":"","name":"Welcome!!","tab":"f8c41372.3d5ea","order":1,"disp":true,"width":"6","collapse":false},{"id":"4bbf80eb.924e1","type":"ui_group","z":"","name":"Home","tab":"219bf0a9.3b4c1","order":4,"disp":false,"width":"2","collapse":false},{"id":"c3574b24.4f55e8","type":"ui_group","z":"","name":"Home","tab":"5ea6f63b.9bd0f8","order":5,"disp":false,"width":"2","collapse":false},{"id":"568b2cee.a6c3e4","type":"ui_group","z":"","name":"Home","tab":"5ef95238.4eb5bc","order":3,"disp":false,"width":"2","collapse":false},{"id":"f321f25e.5cf31","type":"ui_group","z":"","name":"Simulator","tab":"1a0e563a.ec93ca","order":1,"disp":true,"width":"6","collapse":false},{"id":"a34f2e36.3aff3","type":"ui_group","z":"","name":"Open Weather","tab":"1a0e563a.ec93ca","order":2,"disp":true,"width":"6","collapse":false},{"id":"d741e10e.86e91","type":"ui_group","z":"","name":"Controls","tab":"1a0e563a.ec93ca","order":3,"disp":true,"width":"6","collapse":false},{"id":"a9121318.eebfd","type":"ui_group","z":"","name":"Simulator","tab":"1a0e563a.ec93ca","order":4,"disp":false,"width":3,"collapse":false},{"id":"f8c41372.3d5ea","type":"ui_tab","z":"","name":"Smart Agriculture System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"219bf0a9.3b4c1","type":"ui_tab","z":"","name":"Simulator Data","icon":"fa-tachometer","order":3,"disabled":false,"hidden":false},{"id":"5ea6f63b.9bd0f8","type":"ui_tab","z":"","name":"Open Weather Data","icon":"fa-tachometer","order":4,"disabled":false,"hidden":false},{"id":"5ef95238.4eb5bc","type":"ui_tab","z":"","name":"Button","icon":"mi-videogame_asset","order":5,"disabled":false,"hidden":false},{"id":"1a0e563a.ec93ca","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
